@font-face {
     font-family: Terasong;
     src: url('assets/Terasong.ttf');
}

body{
    background-color: #181818;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label{
    font-weight: bold;
}

#main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#board{
    border: 2px solid #2e4868;
    border-radius: 6px;
}

#inf{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
}

.inf-container{
    display: flex;
    flex-direction: column;
}

.inf-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#body-container{
    display: flex;
    flex-direction: row;
}

#snake2{
    width: 170px;
}

#snake1{
    width: 120px;
}

#autor{
    color: white;
    font-family: system-ui;
    position: absolute;
    bottom: 5px;
    font-size: 12px;
}

#manual{
    display: flex;
    align-items: flex-end;
}

#game-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 55px;
    font-family: Terasong;
}